* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: -webkit-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: -ms-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: linear-gradient(to bottom, #f4e2c9 20%, #f4d7c9 100%);
}

h1 {
  color: #f90b6d;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 40px;
  margin: 30 0 16px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toggler {
  list-style-type: none;
  width: 254px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #28c97a;
  font-size: 1.1em;
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

#MM {
  border-right: 5px groove ;
}

.list {
  float: left;
}

.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px;
  text-decoration: none;
}

.list a:hover {
  background-color:  gold;
}



body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
form {
  font-size: 1.5em;
}
.scrambled,
input,
button {
  font-family: monospace;
  font-size: 2em;
}

#myUl {
  display: inline;
}

#myUl li {
  display: inline;
  margin: 0.5em;
}

.table {
  font-size: 2em;
  margin: 8px 20px 10px 0;
  padding: 5px 10px;

  display: table; /* Allow the centering to work */
  margin: 0 auto;

  color: #fff;

  min-width: 10px;
  background-color: #5f9edf;
  text-align: center;
}

.row {
  margin-top: 1.35em;
  display: flex;
  justify-content: center;
  padding: 0.5em;

  flex-flow: row wrap;
  flex: 0 1 auto;
  margin-bottom: 2em;
}

.block {
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #28c97a;
  flex: 0 0 9%;
  margin: 1.5% 2%;
  text-align: center;
  /*border: 2px solid #f07d71; */
  padding: 1em;
}
#check {
  padding: 0.2em;
  margin: 0.25em;
  font-size: 1.5em;
}

#x {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: 100%;

  background-image: -webkit-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: -ms-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: linear-gradient(to bottom, #f4e2c9 20%, #f4d7c9 100%);
}

//themenu

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, gold, chocolate);
  
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  font-size: 40px;
  font-family: sans-serif;
  background-color: white;
  border: 2px solid black;
  letter-spacing: 0.1em;
  width: 5em;
  height: 1.5em;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  margin: 0.5em auto;
  cursor: pointer;
}

nav ul li span {
  color: white;
  mix-blend-mode: difference;
  display: block;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: inherit;
  background-color: #f90b6d;
  text
  border-radius: 50%;
  top: 0;
  left: -0.75em;
  transition: 0.5s ease-out;
}



nav ul li:hover::before {
  transform: scale(7);
}
