* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: -webkit-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: -ms-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: linear-gradient(to bottom, #f4e2c9 20%, #f4d7c9 100%);
}

h1 {
  color: #f90b6d;
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 40px;
  margin: 30 0 16px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toggler {
  list-style-type: none;
  width: 249px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.05em;
  
  font-family: sans-serif;
  background-color: lightgrey;
  border: 2px inset;
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  
}

#MM {
  border-right: 5px groove ;
}

.list {
  float: left;
}

.list a {
  display: block;
  color: black;
  text-align: center;
  padding: 13px;
  text-decoration: none;
}

.list a:hover {
  background-color:  #f90b6d;
}



body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
form {
  font-size: 1.5em;
}
.scrambled,
input,
button {
  font-family: monospace;
  font-size: 2em;
  
  
}

button {
  cursor: pointer;
}


#myUl {
  display: inline;
  
  
}

#myUl li {
  display: inline;
  
  cursor: pointer;
  border: outset;
  
  padding: 5px 11px;
  
  
  
  
}

.table {
  font-size: 2em;
  margin: 8px 20px 10px ;
  padding: 5px 0px;
  
  

  display: table; /* Allow the centering to work */
  margin: 0 auto;

  color: #fff;

  min-width: 10px;
  background-color: #5f9edf;
  text-align: center;
  border: 2px outset;
}

.row {
  margin-top: 1.35em;
  display: flex;
  justify-content: center;
  padding: 0.5em;

  flex-flow: row wrap;
  flex: 0 1 auto;
  margin-bottom: 2em;
  
}

.block {
  border-radius: 20px;
  color: #fff;
  background-color: #28c97a;
  flex: 0 0 9%;
  margin: 1.5% 2%;
  text-align: center;
  /*border: 2px solid #f07d71; */
  padding: 1em;
  border: 2px outset;
}
.check {
  padding: 0.2em;
  margin: 0.25em;
  font-size: 1.5em;
  
}

#x {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  

  background-image: -webkit-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: -ms-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: linear-gradient(to bottom, #f4e2c9 20%, #f4d7c9 100%);
}

.aboutbox {
  
  display: none;
  line-height: 290%;
  text-align: justify;
  position: relative;
  overflow-y: auto;
  
  max-height: 800px;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 45%;
  height: 40%;
  padding: 1.5em;
  border: 2px solid black;

  background-image: -webkit-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: -ms-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: linear-gradient(to bottom, #f4e2c9 20%, #f4d7c9 100%);
}

.ol li {
  padding-left: 20em;
}

.hintbox {
  display: none;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40%;
  height: 25%;
  padding: 1.0em;
  border: 2px solid black;

  background-image: -webkit-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: -ms-linear-gradient(bottom, #f4e2c9 20%, #f4d7c9 100%);
  background-image: linear-gradient(to bottom, #f4e2c9 20%, #f4d7c9 100%);
}

.closebtn{
  font-size: 30px;
  padding: .2em .4em .2em .4em;
  float: right;
  font-family: arial;
  background-color: #f90b6d;
  color:white;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;

}
.closebtn:hover {opacity: 1}

h2{
  text-align: center;
 font-size: 30px;
 padding-top: .7em;
 
 padding-bottom: 1em;
}

.text{
  white-space: normal;
  font-size: 25px;
}

//themenu

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, gold, chocolate);
  
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  font-size: 40px;
  font-family: sans-serif;
  background-color: white;
  border: 2px solid black;
  letter-spacing: 0.1em;
  width: 5em;
  height: 1.5em;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  margin: 0.5em auto;
  cursor: pointer;
}

nav ul li span {
  color: white;
  mix-blend-mode: difference;
  display: block;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: inherit;
  background-color: #f90b6d;
  text
  border-radius: 50%;
  top: 0;
  left: -0.75em;
  transition: 0.5s ease-out;
}



nav ul li:hover::before {
  transform: scale(7);
}
